<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="012f1c67-1cef-4e44-9ac7-f7a54e24a445" Publisher="CN=Esri" Version="1.0.0.0" />
  <Properties>
    <DisplayName>ArcGISPortalViewer</DisplayName>
    <PublisherDisplayName>ESRI Inc</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <Description>ArcGISPortalViewer</Description>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="ArcGISPortalViewer.App">
      <Extensions>
        <Extension Category="windows.search" />
        <Extension Category="windows.protocol">
          <Protocol Name="arcgis">
            <Logo>Assets\SmallLogo.png</Logo>
            <DisplayName>Portal Viewer Sample</DisplayName>
          </Protocol>
        </Extension>
      </Extensions>
      <m2:VisualElements DisplayName="Portal Viewer Sample" Description="Portal Viewer Sample" BackgroundColor="#ffffff" ForegroundText="dark" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png">
        <m2:DefaultTile ShortName="Portal Viewer Sample">
        </m2:DefaultTile>
        <m2:InitialRotationPreference>
          <m2:Rotation Preference="landscape" />
          <m2:Rotation Preference="landscapeFlipped" />
        </m2:InitialRotationPreference>
        <m2:SplashScreen Image="Assets\SplashScreen.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="privateNetworkClientServer" />
    <Capability Name="internetClient" />
    <DeviceCapability Name="location" />
  </Capabilities>
</Package>